<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Thanh toán sau khi mua</title>
    <link rel="stylesheet" type="text/css" href="/static/css/stylePay.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js" integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js" integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm" crossorigin="anonymous"></script>
</head>
<body>
    <header>
        <h2 class="AirlineName"><i>OPEN-AIRPLANE</i></h2>
        <nav class="LuaChon">
            <a href="/">Trang Chủ</a>
            <a href="/">Dịch Vụ Khác</a>
            <a href="/">Thông Tin</a>
            <a href="#">Liên Hệ</a>
            <button class="btnLienHe">Hotline</button>
        </nav>
    </header>
        <div class="wrapper">
            <div class="hopInput">
              <h2 class="ten">Xin nhập thông tin để thanh toán</h2>
                <br><br>
              <div class="nhapDichVu">
                <label>Dịch vụ thanh toán :</label>
                  {% if not current_user.is_authenticated %}
                      <select class="cacDichVu" name="loai" id="payment-method" onchange="thanhtoan(this)">
                        <option value="0"> Xin chọn một dịch vụ thanh toán </option>
                        <option value="1">Ngân hàng</option>
                        <option value="2">MoMo</option>
                        <option value="3">Visa</option>
                        <option value="Stripe">Stripe</option>
                      </select>
                  {%else:%}
                     <select class="cacDichVu" name="loai" id="payment-method" onchange="thanhtoan(this)">
                        <option value="0"> Xin chọn một dịch vụ thanh toán </option>
                        <option value="2">MoMo</option>
                        <option value="TienMat">TienMat</option>
                      </select>
                  {%endif%}
              </div>
              <div class="nhapDon" >
                  {%for i in maHD%}
                  <label>Hóa đơn :{{i}}</label>
                  <br></br>
                  {%endfor%}
              </div>
              <div class="nhapTien" name="tien">
                <label>Tổng tiền thanh toán :{{"{:,.0f}".format(tongtien)}} VNĐ</label>
              </div>
              <a href="#">Hướng dẫn giao dịch thanh toán an toàn</a>
              <br><br>
               <a ><b>Chúng tôi chỉ hỗ trợ thanh toán thẻ visa bằng Stripe</b></a>
                <form  action="{{URL}}" method="post">
                    <button class="btnThanhToan" type="submit" style="display:none"><a name="xacnhan">Xác nhận</a></button>
                </form>

                <br></br>
            </div>

        </div>
          <div style="margin-top: 80px;margin-left: -435px">
                <form method="post" action="{{URL}}">

                      <div class="thanhtoan">
                            <script
                              src='https://checkout.stripe.com/checkout.js'
                              class='stripe-button'
                              data-key={{public_key}}
                              data-amount={{thanhtoan}}
                              data-name='STRIPE'
                              data-description='Thanh toán vé online'
                              data-zip-code='true'
                              data-enabled='true'
                              >
                            </script>
                      </div>
                  </form>
            </div>
    <hr><hr>
</body>
<script src="/static/js/thanhToan.js"></script>
</html>