    <footer>
        <div class="description">
            <div class="info-1">
                <ul>
                    <li>Hỗ Trợ Khách Hàng</li>
                    <li>Liên Hệ</li>
                    <li>Câu Hỏi Thường Gặp</li>
                    <li>Dịch Vụ</li>
                    <li>Điều Khoản</li>
                    <li>Chính Sách</li>
                </ul>
                <ul>
                    <li>Về Chúng Tôi</li>
                    <li>Giới Thiệu</li>
                    <li>Tuyển Dụng</li>
                    <li>Quy Chế</li>
                    <li>Sitemap</li>
                </ul>
                <ul>
                    <li>Tin Tức</li>
                    <li>Báo Giá Dịch Vụ</li>
                    <li>Khuyến Mãi</li>
                    <li>Cải Tiến</li>
                </ul>
                <div class="footer">
                        <div class="content1">
                            <h3>Chính sách và bản quyền</h3>
                            <p><i class="fa-solid fa-check"></i> Điều khoản dịch vụ</p>
                            <p><i class="fa-solid fa-check"></i> Chính sách bảo mật</p>
                            <div class="box">
                                <a href="#"><i class="fa-brands fa-youtube"></i></a>
                                <a href="#"><i class="fa-brands fa-instagram"></i></a>
                                <a href="#"><i class="fa-brands fa-twitter"></i></a>
                                <a href="#"><i class="fa-brands fa-facebook-f"></i></a>
                            </div>
                        </div>
                    </div>
            </div>
            <div class="info">
                <ul>
                    <li style="font-weight: bold; font-size: 20px;">CÔNG TY CỔ PHẦN HÀNG KHÔNG VIỆT NAM</li>
                    <li>Copyright © 2023 - 2024 abc.com.vn</li>
                    <li>
                        <i class="fas fa-phone"></i> 0349.966.760 <i class="far fa-envelope"></i>abc.com.vn
                    </li>
                    <li>Thời gian làm việc: 8:30 - 17:15 (thứ 2 - thứ 6)</li>
                    <li><img width="140px" src="/static/uploadfile/banveindex/bocongthuong.png"></li>
                </ul>
                <ul>
                    <li>Chịu trách nhiệm nội dung: abc</li>
                    <li>Toàn bộ quy chế, quy định giao dịch chung được đăng tải trên website áp dụng từ ngày 1/10/2020.
                        abc.com không bán xe trực tiếp, quý khách mua xe xin vui lòng liên hệ trực tiếp người đăng tin.
                    </li>
                </ul>
                </div>
            <div class="info">
                <ul>
                    <li>Địa chỉ trụ sở chính</li>
                    <li>766 Võ Văn Kiệt, Phường 1, Quận 5, Thành phố Hồ Chí Minh</li>
                </ul>
                <ul>
                    <li>Văn phòng TP. Hồ Chí Minh</li>
                    <li>Tầng 14, Toà nhà Vietcombank, số 5 Công Trường Mê Linh, Phường Bến Nghé, Quận 1, TP. Hồ Chí Minh
                    </li>
                </ul>
            </div>
        </div>
        <div class="license">
            <span class="gohead">
                <a href=""><img src="/static/uploadfile/index/node.png" alt="Node"></a>
            </span>
        </div>
    </footer>
