     <header id="Header">
       <div class="container">
            <img src="/static/uploadfile/index/logo1.png" alt="logo"/>
            <div class="name">
                <h1>Open-Airplane</h1>
            </div>
       </div>
     </header>
     <div class="mobile-menu" onclick="thanhmenu(this)">
        <i class="fa-solid fa-bars"></i>
    </div>
     <nav id="cha" class="nav-pc">
       <ul class="menu menucha">
        <li><a href="" id="house"><i class="fa-solid fa-house"></i></a></li>
        <li ><a href="">Tin tức</a></li>
        <li class="sub"><a href="#" onclick="thanhmenucon1(this)">Dịch vụ</a></li>
        <li><a href="">Hướng dẫn thanh toán</a></li>
        <li><a href="">Liên hệ</a></li>
        <li></li>
       </ul>
     </nav>
     <div class="notification"><i class="fa-solid fa-bullhorn"></i> <span>  Chào mừng các bạn đến với WEB ĐẶT VÉ OPEN - AIRPLANE !!! </span></div>
 <nav class="picture">
        <img src="/static/uploadfile/index/qc1.jpg" alt="mb">
        <img src="/static/uploadfile/index/qc2.jpg" alt="mb">
        <img src="/static/uploadfile/index/qc3.jpg" alt="mb">
 </nav>
